{#include template.html}
{#title}{tenant.name} Event Information{/title}
{#body}
<div class="container">
    {#include logoheader.html/}
    <div class="row py-3">
        <div class="col-12 py-1 text-center">
            <h2>Sorry...</h2>
        </div>
        <div class="col-12 py-1 text-center">
            <p>Die gewünschten Informationen sind noch nicht oder nicht mehr verfügbar.</p>
            <p>
                <a href="{tenant.website}" class="btn btn-primary">Zu unserer Homepage</a>
            </p>
        </div>
    </div>
</div>
{/body}
{/include}
