{#include template.html}
{#title}{tenant.name} Event Information{/title}
{#body}
<div class="container">
    {#include logoheader.html/}

    <div class="row py-3">
        <div class="col-12 py-1 text-center">
            <h3>Link zu unserem Online-Meeting</h3>
        </div>
        <div class="col-12 py-1 text-center">
            <h2>{event.summary}</h2>
        </div>
        <div class="col-12 py-1 text-center">
            <h4>am {event.startDate} um {event.startTime} Uhr ({event.timezone})</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 py-3">
            Bitte nutzt den folgenden Link für die Einwahl.
            Start ist um {event.startTime} Uhr.
            Wir sind aber auch schon etwas früher da.
        </div>
        <div class="col-12 py-3 text-center">
            <a href="{eventData.webinarLink}" target="_blank" class="btn btn-lg btn-primary">Meeting starten</a>
            <br/>
            <a href="{eventData.webinarLink}" target="_blank" class="small">{eventData.webinarLink}</a>
        </div>
        {#include webinar/provider.html/}
        <div class="col-12 py-3">
            <p>Die Besonderheit ist, dass Ihr alle Kamera und Mikrofon einschalten könnt, so dass wir vor, während und nach dem Vortrag möglichst einfach miteinander kommunizieren können.</p>
            <p>
                Wir zeichnen den Vortrag auf und veröffentlichen diesen später auf unserem <a href="https://youtube.com/channel/UC80eo8qsCItOcXe92-ECi0A" target="_blank">YouTube Kanal</a>
                (diesen dürft Ihr gerne abonnieren und ein paar 👍&nbsp; da lassen).
                Bitte ergreift selbst für Euch notwendige Maßnahmen, wenn Euer Name, Stimme oder Bild nicht im Video auftauchen sollen (z. B. anonymer Anmeldename und Kamera/Mikrofon ausgeschaltet lassen).
            </p>
        </div>
    </div>
</div>
{/body}
{/include}
