{#include template.html}
{#title}{tenant.name} Event Information{/title}
{#body}
<div class="container">
    {#include logoheader.html/}

    <div class="row py-3">
        <div class="col-12 py-1 text-center">
            <h3>Link zu unserem Online-Meeting</h3>
        </div>
        <div class="col-12 py-1 text-center">
            <h2>{event.summary}</h2>
        </div>
        <div class="col-12 py-1 text-center">
            <h4>am {event.startDate} um {event.startTime} Uhr ({event.timezone})</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 py-3">
            Bitte nutzt den folgenden Link für die Einwahl.
            Start ist um {event.startTime} Uhr.
            Wir sind aber auch schon etwas früher da.
        </div>
        <div class="col-12 py-3 text-center">
            <a href="{eventData.webinarLink}" target="_blank" class="btn btn-lg btn-primary">Meeting starten</a>
            <br/>
            <a href="{eventData.webinarLink}" target="_blank" class="small">{eventData.webinarLink}</a>
        </div>
        <div class="col-12 py-3">
            {helptext.tools.raw}
        </div>
        <div class="col-12 py-3">
            <p>{helptext.communication}</p>
            <p>
                {helptext.recording.raw}
                {helptext.recordingPrivacyHint}
            </p>
        </div>
    </div>
</div>
{/body}
{/include}
