{#include template.html}
{#body}
    <form method="post" onsubmit="document.getElementById('submit').disabled=true;">
        <h3>Abmeldung</h3>
        <div class="text-muted"></div>
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail*</label>
            <input type="email" name="email" id="email" class="form-control {#if validationErrors.containsKey('email')}is-invalid{/if}" placeholder="E-Mail"/>
        </div>
        <div class="help-block">* = Pflichtfeld</div>
        <button type="submit" id="submit" class="btn btn-danger">Abmelden</button>
        <input type="hidden" name="eventId" value="{eventId}"/>
    </form>
{/body}
{/include}
