<!DOCTYPE html>
<html>
{{> head }}
<body>
    <h2>Sorry</h2>
    <p class="lead">Für diese Veranstaltung sind alle verfügbaren Plätze bereits belegt. Bitte melde Dich bei uns per <a href="mailto:orga@jug-da.de">E-Mail</a>, dann nehmen wir Dich in die Warteliste auf.</p>
    <p class="text-muted">
		<small>
			Du bist bereits angemeldet und willst Dich abmelden oder Deine Daten löschen?
			<a href="/delete?eventId={{ eventId }}">Dann klicke hier.</a>
			Dein Platz wird dann für andere Interessenten freigegeben.
		</small>
	</p>
</body>
</html>
