<!DOCTYPE html>
<html>
{{> head }}
<body>
    <div class="container">
    <h2>JUG DA Anmeldungen für EventId {{ eventId }}: {{ total }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Lfd.Nr.</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Twitter</th>
            <th>Datum</th>
        </tr>
        </thead>
        <tbody>
        {{#each registrations}}
            <tr>
                <td>{{ @index }}</td>
                <td>{{ name }}</td>
                <td><a href="mailto:{{ email }}">{{ email }}</a></td>
                <td><a href="https://twitter.com/{{ twitter}}" target="_blank">{{ twitter }}</a></td>
                <td>{{ datetime created }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</body>
</html>
