{#include template.html}
{#body}
<div class="container">
    <h2>JUG DA Anmeldungen für Event am {eventId}: {total}</h2>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Lfd.Nr.</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Stammtisch</th>
            <th>Warteliste</th>
            <th>Datum</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {#for reg in registrations}
            <tr id="{reg.id}">
                <td>{count}</td>
                <td>{reg.name}</td>
                <td><a href="mailto:{reg.email}">{reg.email}</a></td>
                <td>
                    {#if reg.pub}<span class="glyphicon glyphicon-ok"></span>{/if}
                </td>
                <td>
                    {#if reg.waitlist}<span class="glyphicon glyphicon-pushpin"></span>{/if}
                </td>
                <td>{reg.formattedCreationDate}</td>
                <td><span class="glyphicon glyphicon-trash text-danger" onclick="delReg('{reg.id}', '{reg.name}')" style="cursor: pointer"></span></td>
            </tr>
        {/for}
        </tbody>
    </table>
    <div>
        <button class="btn btn-sm btn-outline-danger" data-toggle="collapse" data-target="#collapseEmails">
            Zeige Namen und E-Mails kopierbar
        </button>
        <div class="collapse" id="collapseEmails">
            <div class="form-group">
                <label for="names">Namen</label>
                <textarea id="names" class="form-control" rows="5">{#for reg in registrations}{reg.name}
{/for}</textarea>
            </div>
            <div class="form-group">
                <label for="emails">E-Mails</label>
                <textarea id="emails" class="form-control" rows="5">{#for reg in registrations}{reg.email}, {/for}</textarea>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script>
    function delReg(id, name) {
        if (confirm('Delete registration of ' + name + '?')) {
            console.log('deleting registration', id);
            $.ajax({
                url: '/delete?id=' + id,
                type: 'DELETE'
            }).done(function () {
                $('#' + id).remove();
            });
        }
    }
</script>
{/body}
{/include}
