<h3>Hallo, {{ name }}!</h3>
<p>
    Vielen Dank für Deine Anmeldung.<br/>
    Wir freuen uns, Dich am {{ date }} bei uns begrüßen zu dürfen.
</p>
<p>
    Falls Du wider Erwarten doch nicht kommen kannst, melde Dich bitte unter folgendem Link ab:<br/>
    <a href="https://registration.jug-da.de/delete?id={{ id }}">https://registration.jug-da.de/delete?id={{ id }}</a><br/>
    Das hilft uns, besser planen zu können und ermöglicht ggf. anderen Personen, die auf der Warteliste stehen, die Teilnahme an der Veranstaltung.
</p>
<p>
    Vielen Dank,<br/>
    <i>Dein JUG DA Orga-Team</i>
</p>
