{#include template.html}
{#body}
    <form method="post" onsubmit="document.getElementById('submit').disabled=true;">
        {#if form.waitlist}
            <h3>Warteliste</h3>
            <p class="lead text-danger">{helptext.waitlist}</p>
        {#else}
            <h3>Anmeldung</h3>
            <div class="text-success">Noch {form.freeSeats} freie Plätze ({form.actualCount} bereits angemeldet).</div>
        {/if}
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" name="name" id="name" class="form-control {#if form.validationErrors.containsKey('name')}is-invalid{/if}" placeholder="Name" value="{form.name}"/>
            <small class="form-text text-muted">{helptext.name}</small>
        </div>
        <div class="form-group">
            <label for="email">E-Mail*</label>
            <input type="email" name="email" id="email" class="form-control {#if form.validationErrors.containsKey('email')}is-invalid{/if}" placeholder="E-Mail" value="{form.email}"/>
            <small class="form-text text-muted">{helptext.email}</small>
        </div>
        {#if form.showPub}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="pub" id="pub">
            <label class="form-check-label" for="pub">Ja, ich komme mit zum Stammtisch (Hotzenplotz o.ä.)</label>
        </div>
        {/if}
        {#if !form.hideVideoRecording}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input required" name="videoRecording" id="videoRecording">
            <label class="form-check-label" for="videoRecording">
                Mir ist bekannt, dass die Veranstaltung auf Video aufgezeichnet und veröffentlicht wird.*
                <small class="d-block text-muted">{helptext.video}</small>
            </label>
        </div>
        {/if}
        <p class="text-muted small">{helptext.disclaimer}</p>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input required" name="privacy" id="privacy">
            <label class="form-check-label" for="privacy">
                Ja, ich habe die o.g. Hinweise gelesen, verstanden und erkläre mich damit einverstanden.*
            </label>
        </div>
        <div class="help-block">* = Pflichtfeld</div>
        <button type="submit" id="submit" class="btn btn-primary" disabled="disabled">Anmelden</button>
        <input type="hidden" name="eventId" value="{form.eventId}"/>
        <input type="hidden" name="freeSeats" value="{form.freeSeats}"/>
        <input type="hidden" name="actualCount" value="{form.actualCount}"/>
        <input type="hidden" name="limit" value="{form.limit}"/>
        <input type="hidden" name="waitlist" value="{form.waitlist}"/>
        <input type="hidden" name="showPub" value="{form.showPub}"/>
        <input type="hidden" name="hideVideoRecording" value="{form.hideVideoRecording}"/>
    </form>
    <p class="text-muted">
        <small>
            Du bist bereits angemeldet und willst Dich abmelden oder Deine Daten löschen?
            <a href="/delete?eventId={form.eventId}">Dann klicke hier.</a>
        </small>
    </p>
<script src="/webjars/jquery/jquery.min.js"></script>
<script>
    $(function() {
        $(".required").click(function(){
            $($(document.forms[0].submit)).prop('disabled',$('input.required:checked').length !== $('input.required').length);
        });
    });
</script>
{/body}
{/include}
