{#include template.html}
{#body}
    <form method="post" onsubmit="document.getElementById('submit').disabled=true;">
        {#if waitlist}
            <h3>Warteliste</h3>
            <p class="lead text-danger">
                Für diese Veranstaltung sind zur Zeit alle verfügbaren Plätze belegt.
                Du kannst Dich aber auf der Warteliste eintragen.
                Wir informieren Dich dann, wenn wir Dich auf die Teilnehmerliste setzen können.
            </p>
        {#else}
            <h3>Anmeldung</h3>
            <div class="text-success">Noch {freeSeats} freie Plätze ({actualCount} bereits angemeldet).</div>
        {/if}
        <div class="form-group {#if validationErrors.containsKey('name')}has-error{/if}">
            <label for="name">Name*</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{name}"/>
            <small class="form-text text-muted">
                Ohne Deinen Namen wissen wir nicht, wer Du bist.
                Wenn Du Dich anmeldest und wir eine Verlosung durchführen, nimmst Du automatisch an dieser teil.
                Wirst Du als Gewinner gezogen, wird Dein Name während der Veranstaltung bekanntgegeben.
                In vereinzelten Fällen kann es sein, dass wir Deinen Namen dem örtlichen Raum-Sponsor zur Verfügung stellen müssen.
            </small>
        </div>
        <div class="form-group {#if validationErrors.containsKey('email')}has-error{/if}">
            <label for="email">E-Mail*</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="E-Mail" value="{email}"/>
            <small class="form-text text-muted">
                Deine E-Mail Adresse nutzen wir, um die Eindeutigkeit Deiner Anmeldung zu bestimmen.
                Außerdem kannst Du Dich mithilfe Deiner E-Mail Adresse wieder abmelden bzw. Deine Daten löschen (Link s.u.).
                Du erhälst zusätzlich eine E-Mail als Anmeldebestätigung, in der auch ein Abmeldelink enthalten ist.
                Im Falle von evtl. Veranstaltungsänderungen, schicken wir Dir ggf. eine E-Mail, um Dich darüber zu informieren.
                Eine Weitergabe oder Veröffentlichung Deiner E-Mail Adresse erfolgt nicht.
            </small>
        </div>
        {#if showPub}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="pub" id="pub">
            <label class="form-check-label" for="pub">Ja, ich komme mit zum Stammtisch (Hotzenplotz o.ä.)</label>
        </div>
        {/if}
        <p class="text-muted">
            <small>
                Mit Deiner Anmeldung bestätigst Du, dass Du die Hinweise an den Eingabefeldern gelesen und verstanden hast und Du damit einverstanden bist.
                Wir löschen Deine persönlichen Daten aus dieser Anmeldung ca. 1 Monat nach der Veranstaltung.
            </small>
        </p>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="privacy" id="privacy" onclick="checkPrivacy(this)">
            <label class="form-check-label" for="privacy">
                Ja, ich habe die o.g. Hinweise gelesen, verstanden und erkläre mich damit einverstanden.*
            </label>
        </div>
        <div class="help-block">* = Pflichtfeld</div>
        <button type="submit" id="submit" class="btn btn-primary" disabled="disabled">Anmelden</button>
        <input type="hidden" name="eventId" value="{eventId}"/>
        <input type="hidden" name="freeSeats" value="{freeSeats}"/>
        <input type="hidden" name="actualCount" value="{actualCount}"/>
        <input type="hidden" name="limit" value="{limit}"/>
        <input type="hidden" name="waitlist" value="{waitlist}"/>
        <input type="hidden" name="showPub" value="{showPub}"/>
    </form>
    <p class="text-muted">
        <small>
            Du bist bereits angemeldet und willst Dich abmelden oder Deine Daten löschen?
            <a href="/delete?eventId={eventId}">Dann klicke hier.</a>
        </small>
    </p>
<script>
function checkPrivacy(elem) {
    document.forms[0].submit.disabled = !elem.checked;
}
</script>
{/body}
{/include}
