{#include template.html}
{#body}
    <h3>Vielen Dank, {name}</h3>
    {#if waitlist}
        <p class="lead">Wir haben Deine Anmeldung erhalten und auf die Warteliste gesetzt.</p>
        <p class="lead">Wir informieren Dich per E-Mail, wenn wir Dich auf die Teilnehmerliste setzen können.</p>
    {#else}
        <p class="lead">Wir haben Deine Anmeldung erhalten.</p>
        <p>Bei einem Online-Event senden wir Dir kurz vor dem Start eine E-Mail mit dem Link zum Meeting.</p>
    {/if}
    <p>
        Falls Du wider Erwarten doch nicht kommen kannst, melde Dich bitte unter folgendem Link ab:<br/>
        <a href="{tenant.baseUrl}/delete?id={id}">{tenant.baseUrl}/delete?id={id}</a>
    </p>
{/body}
{/include}
