<h3>Hallo {registration.name}!</h3>
{#if registration.waitlist}
<p>
    Vielen Dank für Deine Anmeldung für unsere Veranstaltung "{event.summary} am {event.startDate}.<br/>
    Da wir derzeit komplett ausgebucht sind, haben wir Dich in der Warteliste aufgenommen.
    Wir informieren Dich, sobald wir Dich auf die Teilnehmerliste übernehmen können.
</p>
{#else}
<p>
    Vielen Dank für Deine Anmeldung für unsere Veranstaltung "{event.summary}".<br/>
    Wir freuen uns, Dich am {event.startDate} bei uns begrüßen zu dürfen.
</p>
<p>Bei einem Online-Event senden wir Dir kurz vor dem Start eine E-Mail mit dem Link zum Meeting.</p>
{/if}
{#include mail/deregistration.html}
{#id}{registration.id}{/id}
{/include}
<p>
    Vielen Dank,<br/>
    <i>Dein {tenant.name} Orga-Team</i>
</p>
